h1{
    font-size: 50px;
    line-height:64px;
    color:#222;
}
h2{
    font-size: 46px;
    line-height:54px;
    color:#222;
}
h4{
    font-size: 20px; 
    color:#222;
    margin-top: 0%;
}
h6{
    font-size: 18px;
    font-weight:700;
}
p{
    font-size: 16px;
    color:#465b52;
    margin:15px 0 20px 0;
}
.section-p1{
    padding: 33px 8px;
}
.section-m1{
    margin:40px 0;
}
body{
    width:100%;
    margin: 0px;
}
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 80px 10px 20px;
    background:#576067;
    box-shadow: 0 50px 65px rgba(0.8,0.8,0.2,0.06));
    height: 50px;
    border-radius: 0px 0px 0px 0px;
    z-index: 999;
    position:sticky;
    top:0;
    left:0;
}
#navbar{
    display:flex;
    align-items:center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:#3f8e6a;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width:40%;
    height: 2px;
    background:#465b52;
    position: absolute;
    bottom:-5px;
    left:20px;
}
#hero{
    background-image: url("photos/webback.png");
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0;
    image: url("photos/text.png");
}
#hero button{
    margin-left: 597px;
    margin-top: 294px;
    background-color:transparent;
    color:white;
    padding :16px 30px 20px 30px;
    cursor: pointer;
    top:10px;
    

}
#hero button:hover,
#hero button.active{
    color:#060f0b;
}
#first{
    width: 280px;
    height:183px;
    margin-top: 18px;
}
#second{
    width:403px;
    height:364px;
    margin-top: -14px;

}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 535px;
    text-align: center;
    width: 324px;
    height: 280px;
    box-shadow: 10px 10px 100px rgba(41,53,44);
    border: 1px solid #black;
    border-radius:4px;
    margin:15px 0px;
    
}
#feature .fe-box:hover{
    box-shadow: 20px 20px 34px rgba(40,53,44);
}
#feature .fe-box h6{
    display: inline-block;
padding:14px 38px 1px 39px;
margin-top: 9px;
line-height: 1;
border-radius: 4px;
color:rgb(255, 255, 255);
background-color: #000000;

}
#producthead h2{
    margin:-41px 48px 32px 91px;
}

#producthead{
    text-align: center;
}
#producthead .des span{
    font-size: 10px;
    padding:-1px 79px 10px 120px;
    margin:-92px;
    margin-top: 10px;
    vertical-align: 10px;
}
#producthead .pro{
    text-align: center;
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    width: 381px;
    height: 427px;
    margin: 35px 0px 0px 0px;
    border:1px solid #000000;
    border-radius: 10px;
    background-image: url("photos/anime\ prints.png");
    cursor: pointer;
    box-shadow: 10px 10px 100px rgba(41,53,44);
    position: relative;
    transition: 0.2 ease;

}
#producthead .pro:hover{
    box-shadow: 20px 20px 34px rgba(40,53,44);
}
#producthead .pro-container{
    position: relative;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
#producthead .pro img{
    width:100%;
    border-radius: 2px;
    margin:0px 0px 0px 0px;
}
#producthead .des{
    margin-top: -47px;
    margin-left: -25px;
    color: aliceblue;
}
#producthead .des h4{
    margin-top: 0px;
    color: #ffffff;

}
#producthead .star{
    margin-top: -23px;
}
#producthead .pro .cart{
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    color:rgb(0, 0, 0), 63, 89);
    border:1px;
    position: relative;
    bottom:83px;
    right:-147px;

}
#producthead .des h3{
    position: relative;
    bottom: 10px;
}
#banner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
    background-image: url("photos/banner.png") ;
    background-size: cover;
    width:100%;
    height:568px;
    bottom:10px;
    margin-top: -155px; 
}
#banner h4{
   margin-top: 351px;
}
#banner h2{
    margin-top: 1px;
}
#banner button{
    margin-top: -20px;
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
}
 
#banner-box1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   background-color: #000000;
    background-size: cover;
    height:328px;
    width:738px;
    margin-top: 46px; 
    border:#000000;

}
#banner-box2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:717px;
    width:622px;
    margin-top: 43px; 
    border:#000000;
    background-image: url("photos/vertical.png");
  background-position: center; 
  background-repeat: no-repeat;

}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#banner-box3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    background-size: cover;
    height:329px;
    width:738px;
    margin-top: -341px; 
    border:#000000;

}
#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("photos/anime\ prints.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000000;
}

